/*  */

.redtext {

    color: red;
}


#board {
    border: 1px solid red;

    height: 310px;
    width: 450px;
}


#table1 {
    border: 1px solid yellow;
    padding: 0px;
    border-collapse: collapse;


    position: relative; /*position by top/left in relative to its container whether its body or div*/
    /*position: absolute; position by top/left in relative to the page */

    top: 10;
    left: 10;

}

.placehit {

    background : url("ship.png") no-repeat center;
    background-color: black;
}

table td { /* set the width of the table by its data elements*/
    height:75px;
    width: 100px;
    border: 1px solid blue;
}




/* making a coupon like header */

#header { /* this div will have a header fixed on beginning of page*/
    width: 94%;
    position: fixed; /* be a header on scroll */
    /* position: sticky;  stays in its place and be a header on scroll */

    top: 0; /*place it at starting pixel*/
    background-color: #cae8ca;
    border: 2px solid #4CAF50;

}


.dummy_text1 {
    padding-bottom: 10px;
}


        /*////////////////////07/05/////////////////////////*/
        /*/////////////////////////////////////////////////*/

        /* the following lines are edits done in a wordpress project*/

        /* problem: header sub-menu was white and could not see text (white also)*/
        /* solution: make the sub menu items in header transparent for the text to show*/

        .sub-menu{
            background-color: rgba(0, 0, 0, 0.1) !important;
            width: 453px !important;
        }

        .sub-menu li a {
            color: #F0F0F0 !important;

        }
        .sub-menu li a:hover{
            background-color: rgba(52, 52, 52, 0.1) !important;
            width: 453px !important;
            color: #ffffff !important;

        }


        .ast-builder-menu-1 .sub-menu, .ast-builder-menu-1 .inline-on-mobile .sub-menu {
            border-color: white;
            border-top-width: 1px;
            border-style: groove;
        }


        /*use the same method before to re-style the css of the 
        submenu classes in mobile version*/

        .ast-mobile-header-wrap .ast-mobile-header-content, .ast-desktop-header-content{
            background-color: rgba(52, 52, 52, 0.1) !important;
            
        }

        li a:hover {
            background-color: rgba(0, 0, 0, 0.1) !important;	
        }

        /* Li a:active set in editor for #ffffff12 */

        .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item > .menu-link {
            color: white;
        }


        /*////////////////////10/05/////////////////////////*/
        /*/////////////////////////////////////////////////*/

        * {

        }
        
        .box1 {
            box-sizing: border-box;
            border: 5px solid purple;
            height: 150px;
            width: 150px;
            padding: 10px;
            display: inline-block; /* inline can be overlayed, block, no overlay its space and line, inline-block in the line but it has its space*/
            margin-right: 50px; /*both margins will be added but if display inline-block is removed, the largest margins only will be used as margins will collapses*/
        }


        .box2 {
            border: 5px solid purple;
            height: 150px;
            width: 150px;
            padding: 10px;
            display: inline-block;
            margin-left: 100px;


        }



        /*/////////////////////////////////////////////////*/

        /* styling allows an image to be rotated a bit on hover */

        #RotateHover {
            transition: transform .1s ease-in-out;
            padding-left: 10px;
        
          }
          #RotateHover:hover {
            transform: rotate(-3deg);
            }

                    
        /*/////////////////////////////////////////////////*/

        /* changing the text selection color */
        p::selection {
            color: white;
            background: blueviolet;
          }
        
        /*/////////////////////////////////////////////////*/

        /* styling allows an image to be rotated a bit on hover 
        in application with translateY, scale */

          /*display the container in grid
          div (holding image div/text div)
          give padding, and border 

          give image >> display block, "radius", "shadow"
          and "transition":0.15s)
          give image div on hover, shadow(this shadow replaces), transform


        text-transform: uppercase;
        box-shadow: 0 0 1.5rem rgb(17,17,17) ;
        transition: 0.15s;
        transform: rotate(-2deg) translateY(-5px) scale(1.035);

          //rem, translate y
          */
          body {
          }


        /* modifying the container and subcontainer */
        
        .container {
            width: 100%;
            max-width: 350px;
            margin: auto;
            background-color: black;
          }

          .card_outer {
            display: grid;
            grid-template-columns: auto auto;
            /*gets the images horizontal each other rather than vertical to each other*/
            grid-gap: 10px;
          }


        /* modifying the image/text container */
          .card {
            position: relative;
            padding: 0.5rem;
            border-radius: 8px;
            background: skyblue; 
        }

        /* modifying the image */

          .card img {
            width: 100%;
            display: block;
            border-radius: 4px;
            box-shadow: 0 0 1.5rem rgb(17,17,17) ;
            transition: 0.15s;

          }

          .top > a:hover img {
              box-shadow: 0 0 50px rgba(17,17,17, 0.5);
              transform: rotate(-2deg) translateY(-5px) scale(1.035);
          }

        /* modifying the text */

          .bottom.content {
              padding: 1rem;
          }

          .content p {
            font-size: 12px;
          }

          small {
              font-size: 10px;
              color: #264ee4;
              text-transform: uppercase;
          }



          /*inline elements do not break into a new line 
          and do not respect the margin and padding of the 
          element and cant get height width properties*/

          .blockdiv, .inlinespan {
              border: 2px solid black;
              height: 200px;
              width: 200px;
              margin: 10px;
              padding: 10px;

          }

        /*giving an inline element the inline-block value,
        element can have height/width and margin/padding respect*/
          .blockspan {
              display: inline-block;
              border: 2px solid black;
              height: 200px;
              width: 200px;
              margin: 10px;
              padding: 10px;
              margin-left: auto;
              margin-right: auto;
  

          }

        /* margin-left auto pushes to left
        when combined with right: auto, element get centered
        works on pure block elements only */

          .blockdiv {
            margin-left: auto;
            margin-right: auto;
            background-color: red;
          }


        /*////////////////////18/05/////////////////////////*/
        /*/////////////////////////////////////////////////*/

        /*hide item and its space without actually removing */
        .HideNoRemove {
            display: none;
        }

        /*hide item and not its space without actually removing */
        .HideKeepSpace {
            visibility: hidden;
        }

        /*keep the width to window but grow with over size*/
        .MaxWidth_KeepwithBrowserWidth {
            max-width: 800px;
        }




        /*can set margin by %, can layout using float and margin */
        .Nav1 {
            border: 1px solid black;
            width: 25%;
            height: 50%;
            float: left;

        }

        .Section1 {
            border: 1px solid black;
            margin-left: 25%;
            height: 50%;
            /*clear: left;*/
            /*column-count: 3;
            column-gap: 1px;*/
            display: flex;
        }


        /* ability to add style on screen size (responsive) */
        @media screen and (min-width: 500px) { /*give style when screen 500px or more*/
            .Section1 {
                background-color: red;

            }
        }


        .Section1 p {
            border: 1px solid red;
        }


        #Para0 {
            flex: 2;  /*2/4 space*/

        }

        #Para1 {
            flex: 1; /*1/4 space*/
        }

        #Para2 {
            flex:none; 
        }

        #Para3 {
            flex: 1;  /*1/4 space*/
        }