/*  */

.redtext {

    color: red;
}


#board {
    border: 1px solid red;

    height: 310px;
    width: 450px;
}


#table1 {
    border: 1px solid yellow;
    padding: 0px;
    border-collapse: collapse;


    position: relative; /*position by top/left in relative to its container whether its body or div*/
    /*position: absolute; position by top/left in relative to the page */

    top: 10;
    left: 10;

}

.placehit {

    background : url("ship.png") no-repeat center;
    background-color: black;
}

table td { /* set the width of the table by its data elements*/
    height:75px;
    width: 100px;
    border: 1px solid blue;
}




/* making a coupon like header */

#header { /* this div will have a header fixed on beginning of page*/
    width: 94%;
    position: fixed; /* be a header on scroll */
    /* position: sticky;  stays in its place and be a header on scroll */

    top: 0; /*place it at starting pixel*/
    background-color: #cae8ca;
    border: 2px solid #4CAF50;

}


.dummy_text1 {
    padding-bottom: 10px;
}


        /*////////////////////07/05/////////////////////////*/
        /*/////////////////////////////////////////////////*/

        /* the following lines are edits done in a wordpress project*/

        /* problem: header sub-menu was white and could not see text (white also)*/
        /* solution: make the sub menu items in header transparent for the text to show*/

        .sub-menu{
            background-color: rgba(0, 0, 0, 0.1) !important;
            width: 453px !important;
        }

        .sub-menu li a {
            color: #F0F0F0 !important;

        }
        .sub-menu li a:hover{
            background-color: rgba(52, 52, 52, 0.1) !important;
            width: 453px !important;
            color: #ffffff !important;

        }


        .ast-builder-menu-1 .sub-menu, .ast-builder-menu-1 .inline-on-mobile .sub-menu {
            border-color: white;
            border-top-width: 1px;
            border-style: groove;
        }


        /*use the same method before to re-style the css of the 
        submenu classes in mobile version*/

        .ast-mobile-header-wrap .ast-mobile-header-content, .ast-desktop-header-content{
            background-color: rgba(52, 52, 52, 0.1) !important;
            
        }

        li a:hover {
            background-color: rgba(0, 0, 0, 0.1) !important;	
        }

        /* Li a:active set in editor for #ffffff12 */

        .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item > .menu-link {
            color: white;
        }


        /*////////////////////10/05/////////////////////////*/
        /*/////////////////////////////////////////////////*/

        * {

        }
        
        .box1 {
            box-sizing: border-box;
            border: 5px solid purple;
            height: 150px;
            width: 150px;
            padding: 10px;
            display: inline-block; /* inline can be overlayed, block, no overlay its space and line, inline-block in the line but it has its space*/
            margin-right: 50px; /*both margins will be added but if display inline-block is removed, the largest margins only will be used as margins will collapses*/
        }


        .box2 {
            border: 5px solid purple;
            height: 150px;
            width: 150px;
            padding: 10px;
            display: inline-block;
            margin-left: 100px;


        }